html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
img { border:none; }
ul, ol,li {list-style:none; }
a {text-decoration:none;margin: 0;padding: 0; font-family: "微软雅黑";}
p,span,h2,b,i{font-family: "微软雅黑";}
boby{font-size:12px;}
#logo,#dl{width:1071px;margin:0 auto;}
*:focus {outline: none;} 

body{
	background: url(../images/dl-brickwall.png);
}
/*logo*/
#logo_back{
	height: 120px;
}
#logo{
	height: 120px;
}
#logo img{
	margin: 33px 0 0 55px;
}


/*dl*/
#dl_back{
	
}
#dl .dl-left{
	float: left;margin-right:40px ;
}
#dl .dl-right{
	float: left;width: 432px;height: 491px;border: 1px solid #DCDCDC;background: #fff;
	
}
#dl .dl-right h3{
	line-height: 70px;font-size: 20px;font-weight: 500;text-align: center;
}
#dl .dl-right p{
	width: 380px;background: url(../images/dl-faster_line.jpg) no-repeat 15px 3px ;
	margin-left: 25px;color: #C0C0C0;font-size: 12px;text-align: center;
}
#dl .dl-right .dl-text{
	width: 378px;height: 50px;border: 1px solid #CCCCCC;border-radius:10px ;
	margin: 20px 0 0 30px;background: url(../images/dl-user.jpg) no-repeat 10px center;
}
#dl .dl-right .dl-text input {
	margin:10px 0 0 40px;width: 300px;height: 25px;border: none;
}
#dl .dl-right .dl-password{
	width: 378px;height: 50px;border: 1px solid #CCCCCC;border-radius:10px ;
	margin: 20px 0 0 30px;background: url(../images/dl-password.png) no-repeat 10px center;
}
#dl .dl-right .dl-password input {
	margin:10px 0 0 40px;width: 300px;height: 25px;border: none;
}
#dl .dl-right span{
	font-size: 12px;float: right;margin: 5px 10px 0 0;display: block;
}
#dl .dl-right span a{
	color: #000000;
}
#dl .dl-right span a:hover{
	color: orangered;
}
#dl .dl-right .dl-btn a{
	width: 381px;height: 52px;background: #343434;color: #fff;text-align: center;
	line-height: 52px;display: block;border-radius:5px ;
}
#dl .dl-right .dl-btn a:hover{
	background: #000;
}
#dl .dl-right .dl-btn{
	margin: 20px 0 30px 35px;
}
#dl .dl-right b{
	width: 170px;height: 60px;display: block;margin: 25px 0  0 135px ;
}
#dl .dl-right b a{
	margin-right: 10px;
}
#dl .dl-right i{
	font-size: 14px;color: #CCCCCC;font-style: normal;margin-left: 140px;
}
#dl .dl-right i a{
	color: #000000;
}
#dl .dl-right i a:hover{
	color: orangered;
}
